body {
    margin: 0px;
    padding: 0px;
    --main-color: #004078;
    --main-text-color: white;
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-color);
}

.header {
    background-color: #76c2851a;
    display: flex;
    align-items: left;
    height: 56px;
    width: 100%;
    padding-left: 8px;
}

.chart-container {
    display: flex;
    gap: 10px;
}

.horisontal-top {
    display: flex;
}

.horisontal-bottom {
    display: flex;
}

button {
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    transition: all 0.25s;
    background-color: rgba(255, 255, 255, 0.1);
    color: white
}


button:disabled {
    background-color: rgba(149, 149, 149, 0.5);
    color: rgb(255, 255, 255, 0.5);
    cursor: not-allowed;
}

button:not(:disabled):hover {
    background-color: rgba(255, 255, 255, 0.2);
}


.y-slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Add some space between the elements */
    width: 100px;
    
}
.x-slider-container {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Add some space between the elements */
    margin-left: 100px;
    margin-top: 6px;
    
}

#yCollapseSlider {
    transform: rotate(-90deg);
    transform-origin: center;
    gap: 10px;
    height: 120px; /* Adjust the height as needed */
    overflow: hidden; /* Prevent overflow */
}